html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Open sans", sans-serif;
}

a {
    color: #f84437;
}
a:visited {
    color: #64120c;
}
a:hover {
    color: #cf0e00;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 100%;
    background-color: #ee6f6f;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #ee6f6f;
    color: white;
}

nav div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: inherit;
}

#home {
    text-decoration: none;
    padding-left: 2em;
    color: inherit;
}

.menu-links:visited {
    color: white;
}
.menu-links:hover {
    color: #790000;
}
.menu-links {
    text-decoration: none;
    padding-right: 2em;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#intro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    /* min-height: calc(100vh - 4em); */
    background-color: #ee6f6f;
    color: white;
}

.main-links {
    color: white;
}
.main-links:visited {
    color: white;
}
.main-links:hover {
    color: #922200;
}

#sites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-right: 30%; */
    flex-grow: 1;
    width: 100%;
    /* height: 100%; */
    font-family: 'Didact Gothic', sans-serif;
}
#sites > div {
    font-size: 3em;
    margin-bottom: 0.5em;
}

#intro {
    display: flex;
    flex-grow: 1;
    width: 50%;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10em;
    background-color: #91c2c8;
}
footer > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    padding-bottom: 1em;
    width: 100%;
}
#navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 90%;
    margin-top: 1em;
}

#navigation > ul > li {
    list-style-type: none;
    margin-top: 1em;
}
#navigation > ul > li > a {
    text-decoration: none;
    color: #f84437;
}

#attributions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: 90%;
    margin-top: 1em;
}
#attributions > p > a {
    text-decoration: none;
}

@media all and (max-width: 700px) {
    nav {
        font-size: 0.8em;
    }

    #avatar {
        width: 8em;
        height: 8em;
    }

    #projects {
        display: flex;
        flex-direction: column;

    }
    #projects > h2 {
        padding: 0;
        align-self: center;
    }

    #projects-wrapper {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
        grid-gap: 1em;
    }

    .project {
        display: flex;
        flex-direction: column;
        min-width: 10em;
        max-width: 20em;
        width: 90%;
        min-height: 10em;
        max-height: 20em;
        height: 100%;
    }
    .project-flex-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    footer > div {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        padding-bottom: 1em;
        width: 100%;
    }
    #navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 1em;
    }

    #attributions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1em;
    }
    #attributions > p {
        padding-left: 1em;
        padding-right: 1em;
    }

}

@media all and (min-width: 1100px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer > div {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 120ch;
        width: 100%;
    }

    nav {
        max-width: 120ch;
        width: 100%;
    }

    #intro {
        font-size: 1.2em;
        flex-grow: 1;
    }
    
}