@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/SourceSansPro-Regular.ttf") format("truetype");
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
    font-size: 16px;
    /* font-family: sans-serif; */
    font-family: "Source Sans Pro", sans-serif;

}
header {
    height: 8%;
    font-size: 1em;
}
nav {
    height: 7%;
    width: 100%;
    box-shadow: 5px 4px 10px #dddddd;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
}

nav > div {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 80em;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

#nav-ul > div > h1 {
    padding-left: 1em;
}

#home {
    font-size: 0.8em;
    text-decoration: none;
}

#home > a:link, a:visited {
    color: rgba(87, 177, 255, 255);
}

#github {
    padding-right: 2.0em;
}

#content {
    display: flex;
    max-width: 70em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

article {
    width: 80%;
    text-align: left;
    margin-bottom: 1em;
}

article > h2 > a {
    font-size: 1em;
    text-decoration: none;
}

article > p {
    font-size: 20px;
}

.article-title > a:link {
    color: rgba(87, 177, 255, 255);
}

.article-title > a:visited {
    color: rgba(87, 177, 255, 255);
}

.article-title:hover {
    cursor: pointer;
}

.article-title:hover > a {
    color: rgba(37, 125, 203, 255);
}    