html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
    font-size: 16px;
}

h1, h2, a {
    font-family: "Open sans", sans-serif;
}

p {
    font-family: "Merriweather", serif;
}

header {
    height: 4em;
}

nav {
    height: 4em;
    width: 100%;
    box-shadow: 5px 4px 10px #dddddd;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
}

#nav-ul div {
    height: 100%;
}

/* #nav-ul div h1 {
    padding-left: 1em;
} */

#personal-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1em;
}

#personal-links a {
    padding-right: 1em;
}

#home {
    padding-left: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#home h1 {
    font-size: 1em;
    font-weight: normal;
}

.menu-links {
    font-size: 1em;
    text-decoration: none;
    color: rgb(218, 129, 56);
}

.menu-links:link, .menu-links:visited {
    color: rgb(218, 129, 56);
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#content {
    display: flex;
    max-width: 100ch;
    min-width: 30ch;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

article {
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
}

article h2 a {
    font-size: 1em;
    text-decoration: none;
}

article p {
    font-size: 20px;
    line-height: 1.5em;
}

.article-title a:link {
    color: rgb(218, 120, 81);
}

.article-title a:visited {
    color: rgb(165, 60, 0);
}

.article-title:hover {
    cursor: pointer;
}

.article-title:hover a {
    color: rgb(241, 152, 101);
}    

.post-date {
    font-size: 1em;
    color: #6b6b6b;
}