<!DOCTYPE html>
<html lang="en">

<head>
  <meta content="text/html" charset="utf-8" />
  <title>buttah Blog</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/brands.css">
  <link rel="stylesheet" href="css/fontawesome.css">
</head>

<body>
  <header>
    <nav id="nav-ul">
      <div>
        <h1><a id="home" href="index.html">Lazy Passion's Blog</a></h1>
        <a id="github" class="fab fa-github" href="https://github.com/lazypassion" target="_blank"></a>
      </div>
    </nav>
  </header>
  <div id="content">
    {% for page in section.pages %}
      <article>
        <h2 class="article-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
        <!-- <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span> -->
        <p>{{ page.description| safe }}</p>
      </article>
    {% endfor %}
  </div>

<body>
<html>