<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>
  <meta content="text/html" charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5"/>
  <link rel="stylesheet" href="../css/article.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">

</head>

<body>
  <header>
    <nav>
      <div id="home">
        <h1>
          <a class="menu-links" href="../">
            Arthmis Blog
          </a>
        </h1>
      </div>
      <div id="personal-links">
        <a class="menu-links" id="portfolio" href="../portfolio"> 
          <i class="fa fa-space-shuttle" aria-hidden="true"></i>
          Portfolio
        </a>
        <a class="menu-links" id="github" href="https://github.com/arthmis"> 
          <i class="fa fa-github" aria-hidden="true"></i>
          Github
        </a>
      </div>
    </nav>
  </header>
  <main>
    <div id="content">

      <article>
        <h1 class="article-title">{{ page.title }}</h1>
        <p>{{ page.content | safe}}<p>
      </article>
    </div>
  </main>

<body>
<html>