<!DOCTYPE html>
<html lang="en">

<head>
  <meta content="text/html" charset="utf-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="../css/article.css">
  <link rel="stylesheet" href="../css/brands.css">
  <link rel="stylesheet" href="../css/fontawesome.css">
</head>

<body>
  <header>
    <nav id="nav-ul">
      <div>
        <h1><a id="home" href="../index.html">Lazy Passion's Blog</a></h1>
        <a id="github" class="fab fa-github" href="https://github.com/lazypassion" target="_blank"></a>
      </div>
    </nav>
  </header>
  <div id="content">
    <article>
      <h2 class="article-title">{{ page.title }}</h2>
      <p>{{ page.content | safe}}<p>
    </article>
  </div>

<body>
<html>