<!DOCTYPE html>
<html lang="en">

<head>
  <title>Arthmis Blog</title>
  <meta content="text/html" charset="utf-8" http-equiv="Content-Type"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5"/>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <div id="home">
        <h1>
          <a class="menu-links" href="/blog/">
            Arthmis Blog
          </a>
        </h1>
      </div>
      <div id="personal-links">
        <a class="menu-links" id="portfolio" href="/"> 
          <i class="fa fa-space-shuttle" aria-hidden="true"></i>
          Portfolio
        </a>
        <a class="menu-links" id="github" href="https://github.com/arthmis"> 
          <i class="fa fa-github" aria-hidden="true"></i>
          Github
        </a>
      </div>
    </nav>
  </header>
  <main>
    <div id="content">
      {% for page in section.pages %}
        <article>
          <h2 class="article-title"><a href="{{ page.permalink }}" target="_self">{{ page.title }}</a></h2>
          <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
          <p>{{ page.description| safe }}</p>
        </article>
      {% endfor %}
    </div>
  </main>

<body>
<html>